HCRGUniversityMgtApp/HCRGUniversityMgtApp/Service References/NEPService.EducationModuleService/EducationModuleService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/HCRGUniversityService.DTO.Base" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/HCRGUniversityService.DTO.Base" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="BaseDataColumn">
    <xs:sequence>
      <xs:element minOccurs="0" name="ApproveBy" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ApproveOn" nillable="true" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BaseDataColumn" nillable="true" type="tns:BaseDataColumn" />
</xs:schema>