HCRGUniversityMgtApp/HCRGUniversityMgtApp/Service References/NEPService.EducationModuleService/EducationModuleService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://wcfservice.vsaindia.com:8081/NEP/EducationModuleService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/HCRGUniversityService.DTO" />
  <xs:import schemaLocation="http://wcfservice.vsaindia.com:8081/NEP/EducationModuleService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/HCRGUniversityService.DTO.Paged" />
  <xs:element name="AddEducationModule">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/HCRGUniversityService.DTO" minOccurs="0" name="educationModule" nillable="true" type="q1:EducationModule" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddEducationModuleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddEducationModuleResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateEducationModule">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/HCRGUniversityService.DTO" minOccurs="0" name="educationModule" nillable="true" type="q2:EducationModule" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateEducationModuleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateEducationModuleResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateEducationModuleTime">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/HCRGUniversityService.DTO" minOccurs="0" name="educationModule" nillable="true" type="q3:EducationModule" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateEducationModuleTimeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateEducationModuleTimeResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteEducationModule">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="educationModuleID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteEducationModuleResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEducationModuleByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="educationModuleID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEducationModuleByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/HCRGUniversityService.DTO" minOccurs="0" name="GetEducationModuleByIDResult" nillable="true" type="q4:EducationModule" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllEducationModule">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllEducationModuleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/HCRGUniversityService.DTO" minOccurs="0" name="GetAllEducationModuleResult" nillable="true" type="q5:ArrayOfEducationModule" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllEducationModuleByEducationID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="educationID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllEducationModuleByEducationIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/HCRGUniversityService.DTO" minOccurs="0" name="GetAllEducationModuleByEducationIDResult" nillable="true" type="q6:ArrayOfEducationModule" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrganizationClientByEducationModuleID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="educationModuleID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrganizationClientByEducationModuleIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/HCRGUniversityService.DTO" minOccurs="0" name="GetOrganizationClientByEducationModuleIDResult" nillable="true" type="q7:Client" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllFileType">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllFileTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/HCRGUniversityService.DTO" minOccurs="0" name="GetAllFileTypeResult" nillable="true" type="q8:ArrayOfFileType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddEducationModuleFile">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/HCRGUniversityService.DTO" minOccurs="0" name="educationModuleFile" nillable="true" type="q9:EducationModuleFile" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddEducationModuleFileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddEducationModuleFileResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateEducationModuleFile">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/HCRGUniversityService.DTO" minOccurs="0" name="educationModuleFile" nillable="true" type="q10:EducationModuleFile" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateEducationModuleFileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateEducationModuleFileResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteEducationModuleFile">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="educationModuleFileID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteEducationModuleFileResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEducationModuleFileByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="educationModuleFileID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEducationModuleFileByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/HCRGUniversityService.DTO" minOccurs="0" name="GetEducationModuleFileByIDResult" nillable="true" type="q11:EducationModuleFile" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllEducationModuleFile">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllEducationModuleFileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/HCRGUniversityService.DTO" minOccurs="0" name="GetAllEducationModuleFileResult" nillable="true" type="q12:ArrayOfEducationModuleFile" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEducationModuleFileByModuleID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="educationModuleID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEducationModuleFileByModuleIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/HCRGUniversityService.DTO" minOccurs="0" name="GetEducationModuleFileByModuleIDResult" nillable="true" type="q13:EducationModuleFile" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteEducationModuleFileByEducationModuleFileID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EducationModuleFileID" type="xs:int" />
        <xs:element minOccurs="0" name="FileTypeID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteEducationModuleFileByEducationModuleFileIDResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllPagedEducationModuleByEid">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="educationID" type="xs:int" />
        <xs:element minOccurs="0" name="skip" type="xs:int" />
        <xs:element minOccurs="0" name="take" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllPagedEducationModuleByEidResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/HCRGUniversityService.DTO.Paged" minOccurs="0" name="GetAllPagedEducationModuleByEidResult" nillable="true" type="q14:PagedEducationModule" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMyEducationModulesDetailsByMEID_FileTypeID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="emID" type="xs:int" />
        <xs:element minOccurs="0" name="FileTypeID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMyEducationModulesDetailsByMEID_FileTypeIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/HCRGUniversityService.DTO" minOccurs="0" name="GetMyEducationModulesDetailsByMEID_FileTypeIDResult" nillable="true" type="q15:ArrayOfEducationModuleFile" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>