HCRGUniversityApp/HCRGUniversityApp/Service References/NEPService.EducationService/EducationService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://wcfservice.vsaindia.com:8081/NEP/EducationService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/HCRGUniversityService.DTO" />
  <xs:import schemaLocation="http://wcfservice.vsaindia.com:8081/NEP/EducationService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/HCRGUniversityService.DTO.Paged" />
  <xs:element name="AddEducation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/HCRGUniversityService.DTO" minOccurs="0" name="education" nillable="true" type="q1:Education" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddEducationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddEducationResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateEducation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/HCRGUniversityService.DTO" minOccurs="0" name="education" nillable="true" type="q2:Education" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateEducationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateEducationResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEducationByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="educationID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEducationByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/HCRGUniversityService.DTO" minOccurs="0" name="GetEducationByIDResult" nillable="true" type="q3:Education" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllEducation">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllEducationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/HCRGUniversityService.DTO" minOccurs="0" name="getAllEducationResult" nillable="true" type="q4:ArrayOfEducation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllEducationActive">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllEducationActiveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/HCRGUniversityService.DTO" minOccurs="0" name="getAllEducationActiveResult" nillable="true" type="q5:ArrayOfEducation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEducationLatest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserID" type="xs:int" />
        <xs:element minOccurs="0" name="OrganizationID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEducationLatestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/HCRGUniversityService.DTO" minOccurs="0" name="GetEducationLatestResult" nillable="true" type="q6:ArrayOfEducation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEducationByEducationNamePaged">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="educationName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="skip" type="xs:int" />
        <xs:element minOccurs="0" name="take" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEducationByEducationNamePagedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/HCRGUniversityService.DTO.Paged" minOccurs="0" name="GetEducationByEducationNamePagedResult" nillable="true" type="q7:PagedEducation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEducationReadyToDisplayByEducationNamePaged">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="educationName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_organizationID" type="xs:int" />
        <xs:element minOccurs="0" name="skip" type="xs:int" />
        <xs:element minOccurs="0" name="take" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEducationReadyToDisplayByEducationNamePagedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/HCRGUniversityService.DTO.Paged" minOccurs="0" name="GetEducationReadyToDisplayByEducationNamePagedResult" nillable="true" type="q8:PagedEducation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOnSiteEducationByStartDate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="startDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="endDate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOnSiteEducationByStartDateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/HCRGUniversityService.DTO" minOccurs="0" name="GetOnSiteEducationByStartDateResult" nillable="true" type="q9:ArrayOfEducation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PublishEducation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="educationID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PublishEducationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PublishEducationResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CoursePreviewEducation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="educationID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CoursePreviewEducationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CoursePreviewEducationResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEducationAndProfession">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="OrganizationID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEducationAndProfessionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/HCRGUniversityService.DTO" minOccurs="0" name="GetEducationAndProfessionResult" nillable="true" type="q10:ArrayOfEducationProfessionDetail" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEducationAndEducationFormat">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="OrganizationID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEducationAndEducationFormatResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/HCRGUniversityService.DTO" minOccurs="0" name="GetEducationAndEducationFormatResult" nillable="true" type="q11:ArrayOfEducationFormatDetail" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCollegeEducationByEducationID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="educationID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCollegeEducationByEducationIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/HCRGUniversityService.DTO" minOccurs="0" name="GetCollegeEducationByEducationIDResult" nillable="true" type="q12:ArrayOfCollegeEducationSearch" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProfessionEducationByEducationID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="educationID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProfessionEducationByEducationIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/HCRGUniversityService.DTO" minOccurs="0" name="GetProfessionEducationByEducationIDResult" nillable="true" type="q13:ArrayOfEducationProfessionDetail" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddProfession">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/HCRGUniversityService.DTO" minOccurs="0" name="profession" nillable="true" type="q14:Profession" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddProfessionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddProfessionResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateProfession">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/HCRGUniversityService.DTO" minOccurs="0" name="profession" nillable="true" type="q15:Profession" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateProfessionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateProfessionResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProfessionByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="professionID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProfessionByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/HCRGUniversityService.DTO" minOccurs="0" name="GetProfessionByIDResult" nillable="true" type="q16:Profession" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllProfession">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_clientID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllProfessionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/HCRGUniversityService.DTO" minOccurs="0" name="getAllProfessionResult" nillable="true" type="q17:ArrayOfProfession" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllProfessionActive">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_clientID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllProfessionActiveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/HCRGUniversityService.DTO" minOccurs="0" name="getAllProfessionActiveResult" nillable="true" type="q18:ArrayOfProfession" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllProfessionWeb">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="OrganizationID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllProfessionWebResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/HCRGUniversityService.DTO" minOccurs="0" name="getAllProfessionWebResult" nillable="true" type="q19:ArrayOfProfession" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllProfessionActiveWeb">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="OrganizationID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllProfessionActiveWebResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/HCRGUniversityService.DTO" minOccurs="0" name="getAllProfessionActiveWebResult" nillable="true" type="q20:ArrayOfProfession" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProfessionsByCollegeID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="collegeID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProfessionsByCollegeIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/HCRGUniversityService.DTO" minOccurs="0" name="GetProfessionsByCollegeIDResult" nillable="true" type="q21:ArrayOfProfession" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProfessionNotAssociateWithEducation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="educationID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProfessionNotAssociateWithEducationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/HCRGUniversityService.DTO" minOccurs="0" name="GetProfessionNotAssociateWithEducationResult" nillable="true" type="q22:ArrayOfProfession" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllPagedProfession">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="skip" type="xs:int" />
        <xs:element minOccurs="0" name="take" type="xs:int" />
        <xs:element minOccurs="0" name="_clientID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllPagedProfessionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/HCRGUniversityService.DTO.Paged" minOccurs="0" name="GetAllPagedProfessionResult" nillable="true" type="q23:PagedProfession" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllPagedProfessionByOrganizationID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="skip" type="xs:int" />
        <xs:element minOccurs="0" name="take" type="xs:int" />
        <xs:element minOccurs="0" name="organizationID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllPagedProfessionByOrganizationIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/HCRGUniversityService.DTO.Paged" minOccurs="0" name="GetAllPagedProfessionByOrganizationIDResult" nillable="true" type="q24:PagedProfession" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddEducationProfession">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/HCRGUniversityService.DTO" minOccurs="0" name="educationProfession" nillable="true" type="q25:EducationProfession" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddEducationProfessionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddEducationProfessionResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateEducationProfession">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/HCRGUniversityService.DTO" minOccurs="0" name="educationProfession" nillable="true" type="q26:EducationProfession" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateEducationProfessionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateEducationProfessionResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddEducationFormat">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/HCRGUniversityService.DTO" minOccurs="0" name="educationFormat" nillable="true" type="q27:EducationFormat" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddEducationFormatResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddEducationFormatResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateEducationFormat">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/HCRGUniversityService.DTO" minOccurs="0" name="educationFormat" nillable="true" type="q28:EducationFormat" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateEducationFormatResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateEducationFormatResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllEducationFormat">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_organizationID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllEducationFormatResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/HCRGUniversityService.DTO" minOccurs="0" name="getAllEducationFormatResult" nillable="true" type="q29:ArrayOfEducationFormat" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEducationFormatNotAssociateWithEducation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="educationID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEducationFormatNotAssociateWithEducationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/HCRGUniversityService.DTO" minOccurs="0" name="GetEducationFormatNotAssociateWithEducationResult" nillable="true" type="q30:ArrayOfEducationFormat" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllPagedEducationFormat">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="skip" type="xs:int" />
        <xs:element minOccurs="0" name="take" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllPagedEducationFormatResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/HCRGUniversityService.DTO.Paged" minOccurs="0" name="GetAllPagedEducationFormatResult" nillable="true" type="q31:PagedEducationFormat" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEducationFormatByClientID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ClientID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEducationFormatByClientIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/HCRGUniversityService.DTO" minOccurs="0" name="GetEducationFormatByClientIDResult" nillable="true" type="q32:ArrayOfEducationFormat" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllEducationFormatByClientID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ClientID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllEducationFormatByClientIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/HCRGUniversityService.DTO" minOccurs="0" name="GetAllEducationFormatByClientIDResult" nillable="true" type="q33:ArrayOfEducationFormat" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllEducationFormatByOrganizationID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_organizationID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllEducationFormatByOrganizationIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/HCRGUniversityService.DTO" minOccurs="0" name="GetAllEducationFormatByOrganizationIDResult" nillable="true" type="q34:ArrayOfEducationFormat" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddEducationFormatAvailable">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/HCRGUniversityService.DTO" minOccurs="0" name="educationFormatAvailable" nillable="true" type="q35:EducationFormatAvailable" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddEducationFormatAvailableResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddEducationFormatAvailableResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateEducationFormatAvailable">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/HCRGUniversityService.DTO" minOccurs="0" name="educationFormatAvailable" nillable="true" type="q36:EducationFormatAvailable" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateEducationFormatAvailableResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateEducationFormatAvailableResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEducationFormatsByEducationID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="educationID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEducationFormatsByEducationIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/HCRGUniversityService.DTO" minOccurs="0" name="GetEducationFormatsByEducationIDResult" nillable="true" type="q37:ArrayOfEducationFormatDetail" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddCollegeEducation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/HCRGUniversityService.DTO" minOccurs="0" name="cEdu" nillable="true" type="q38:CollegeEducation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddCollegeEducationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddCollegeEducationResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCollegeEducation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/HCRGUniversityService.DTO" minOccurs="0" name="cEdu" nillable="true" type="q39:CollegeEducation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCollegeEducationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateCollegeEducationResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEducationCollegeAllPaged">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="skip" type="xs:int" />
        <xs:element minOccurs="0" name="take" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEducationCollegeAllPagedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/HCRGUniversityService.DTO.Paged" minOccurs="0" name="GetEducationCollegeAllPagedResult" nillable="true" type="q40:PagedEducation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEducationCollegeByCollegeIDPaged">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="collegeID" type="xs:int" />
        <xs:element minOccurs="0" name="userID" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="skip" type="xs:int" />
        <xs:element minOccurs="0" name="take" type="xs:int" />
        <xs:element minOccurs="0" name="OrganizationID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEducationCollegeByCollegeIDPagedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/HCRGUniversityService.DTO.Paged" minOccurs="0" name="GetEducationCollegeByCollegeIDPagedResult" nillable="true" type="q41:PagedEducation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEducationCollegeByEducationFormatIDPaged">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="formatID" type="xs:int" />
        <xs:element minOccurs="0" name="userID" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="skip" type="xs:int" />
        <xs:element minOccurs="0" name="take" type="xs:int" />
        <xs:element minOccurs="0" name="OrganizationID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEducationCollegeByEducationFormatIDPagedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/HCRGUniversityService.DTO.Paged" minOccurs="0" name="GetEducationCollegeByEducationFormatIDPagedResult" nillable="true" type="q42:PagedEducation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEducationCollegeByEducationFormatIDAndCollegeIDPaged">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="collegeID" type="xs:int" />
        <xs:element minOccurs="0" name="formatID" type="xs:int" />
        <xs:element minOccurs="0" name="userID" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="skip" type="xs:int" />
        <xs:element minOccurs="0" name="take" type="xs:int" />
        <xs:element minOccurs="0" name="OrganizationID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEducationCollegeByEducationFormatIDAndCollegeIDPagedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q43="http://schemas.datacontract.org/2004/07/HCRGUniversityService.DTO.Paged" minOccurs="0" name="GetEducationCollegeByEducationFormatIDAndCollegeIDPagedResult" nillable="true" type="q43:PagedEducation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEducationByProfessionIDPaged">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="professionID" type="xs:int" />
        <xs:element minOccurs="0" name="userID" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="skip" type="xs:int" />
        <xs:element minOccurs="0" name="take" type="xs:int" />
        <xs:element minOccurs="0" name="OrganizationID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEducationByProfessionIDPagedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q44="http://schemas.datacontract.org/2004/07/HCRGUniversityService.DTO.Paged" minOccurs="0" name="GetEducationByProfessionIDPagedResult" nillable="true" type="q44:PagedEducation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEducationByEducationFormatIDORCollegeIDORDeptIDORPrfIDPaged">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="collegeID" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="formatID" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="professionID" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="UserID" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="skip" type="xs:int" />
        <xs:element minOccurs="0" name="take" type="xs:int" />
        <xs:element minOccurs="0" name="OrganizationID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEducationByEducationFormatIDORCollegeIDORDeptIDORPrfIDPagedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q45="http://schemas.datacontract.org/2004/07/HCRGUniversityService.DTO.Paged" minOccurs="0" name="GetEducationByEducationFormatIDORCollegeIDORDeptIDORPrfIDPagedResult" nillable="true" type="q45:PagedEducation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEducationNewsSearchByTextPaged">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="searchText" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="UserID" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="OrganizationID" type="xs:int" />
        <xs:element minOccurs="0" name="skip" type="xs:int" />
        <xs:element minOccurs="0" name="take" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEducationNewsSearchByTextPagedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q46="http://schemas.datacontract.org/2004/07/HCRGUniversityService.DTO.Paged" minOccurs="0" name="GetEducationNewsSearchByTextPagedResult" nillable="true" type="q46:PagedEducationNewsSearch" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddEducationType">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q47="http://schemas.datacontract.org/2004/07/HCRGUniversityService.DTO" minOccurs="0" name="educationTypesAvailable" nillable="true" type="q47:EducationTypesAvailable" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddEducationTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddEducationTypeResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateEducationType">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q48="http://schemas.datacontract.org/2004/07/HCRGUniversityService.DTO" minOccurs="0" name="educationTypesAvailable" nillable="true" type="q48:EducationTypesAvailable" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateEducationTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateEducationTypeResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEducationTypeByEducationID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="educationID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEducationTypeByEducationIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q49="http://schemas.datacontract.org/2004/07/HCRGUniversityService.DTO" minOccurs="0" name="GetEducationTypeByEducationIDResult" nillable="true" type="q49:ArrayOfEducationTypesAvailable" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddEducationDetailPageContent">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q50="http://schemas.datacontract.org/2004/07/HCRGUniversityService.DTO" minOccurs="0" name="eduDetailPage" nillable="true" type="q50:EducationDetailPage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddEducationDetailPageContentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddEducationDetailPageContentResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateEducationDetailPageContent">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q51="http://schemas.datacontract.org/2004/07/HCRGUniversityService.DTO" minOccurs="0" name="eduDetailPage" nillable="true" type="q51:EducationDetailPage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateEducationDetailPageContentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateEducationDetailPageContentResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEducationDetailPageContent">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="educationID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEducationDetailPageContentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q52="http://schemas.datacontract.org/2004/07/HCRGUniversityService.DTO" minOccurs="0" name="GetEducationDetailPageContentResult" nillable="true" type="q52:EducationDetailPageWithEducation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllPagedEducationProfession">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="skip" type="xs:int" />
        <xs:element minOccurs="0" name="take" type="xs:int" />
        <xs:element minOccurs="0" name="OrganizationID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllPagedEducationProfessionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q53="http://schemas.datacontract.org/2004/07/HCRGUniversityService.DTO.Paged" minOccurs="0" name="GetAllPagedEducationProfessionResult" nillable="true" type="q53:PagedEducationProfession" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllPagedEducationByfilter">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="coursename" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="skip" type="xs:int" />
        <xs:element minOccurs="0" name="take" type="xs:int" />
        <xs:element minOccurs="0" name="ClientID" type="xs:int" />
        <xs:element minOccurs="0" name="OrgID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllPagedEducationByfilterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q54="http://schemas.datacontract.org/2004/07/HCRGUniversityService.DTO.Paged" minOccurs="0" name="GetAllPagedEducationByfilterResult" nillable="true" type="q54:PagedEducation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCourseCatalogByfilter">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_search" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="skip" type="xs:int" />
        <xs:element minOccurs="0" name="take" type="xs:int" />
        <xs:element minOccurs="0" name="ClientID" type="xs:int" />
        <xs:element minOccurs="0" name="OrgID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCourseCatalogByfilterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q55="http://schemas.datacontract.org/2004/07/HCRGUniversityService.DTO.Paged" minOccurs="0" name="GetCourseCatalogByfilterResult" nillable="true" type="q55:PagedEducation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddAccreditor">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q56="http://schemas.datacontract.org/2004/07/HCRGUniversityService.DTO" minOccurs="0" name="accreditor" nillable="true" type="q56:Accreditor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddAccreditorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddAccreditorResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAccreditor">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q57="http://schemas.datacontract.org/2004/07/HCRGUniversityService.DTO" minOccurs="0" name="accreditor" nillable="true" type="q57:Accreditor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAccreditorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateAccreditorResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAccreditor">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_accreditorID" type="xs:int" />
        <xs:element minOccurs="0" name="isActive" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAccreditorResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getAll">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q58="http://schemas.datacontract.org/2004/07/HCRGUniversityService.DTO" minOccurs="0" name="getAllResult" nillable="true" type="q58:ArrayOfAccreditor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllPagedAccreditor">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="skip" type="xs:int" />
        <xs:element minOccurs="0" name="take" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllPagedAccreditorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q59="http://schemas.datacontract.org/2004/07/HCRGUniversityService.DTO.Paged" minOccurs="0" name="GetAllPagedAccreditorResult" nillable="true" type="q59:PagedAccreditor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllAccreditorsByOrganizationID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="clientID" type="xs:int" />
        <xs:element minOccurs="0" name="orgID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllAccreditorsByOrganizationIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q60="http://schemas.datacontract.org/2004/07/HCRGUniversityService.DTO" minOccurs="0" name="GetAllAccreditorsByOrganizationIDResult" nillable="true" type="q60:ArrayOfAccreditor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddEducationCredential">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q61="http://schemas.datacontract.org/2004/07/HCRGUniversityService.DTO" minOccurs="0" name="educationCredential" nillable="true" type="q61:EducationCredential" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddEducationCredentialResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddEducationCredentialResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateEducationCredential">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q62="http://schemas.datacontract.org/2004/07/HCRGUniversityService.DTO" minOccurs="0" name="educationCredential" nillable="true" type="q62:EducationCredential" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateEducationCredentialResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateEducationCredentialResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteEducationCredential">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_credentialID" type="xs:int" />
        <xs:element minOccurs="0" name="isActive" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteEducationCredentialResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEducationCredentialByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_credentialID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEducationCredentialByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q63="http://schemas.datacontract.org/2004/07/HCRGUniversityService.DTO" minOccurs="0" name="GetEducationCredentialByIDResult" nillable="true" type="q63:EducationCredential" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEducationCredentialByEducationID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_educationID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEducationCredentialByEducationIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q64="http://schemas.datacontract.org/2004/07/HCRGUniversityService.DTO" minOccurs="0" name="GetEducationCredentialByEducationIDResult" nillable="true" type="q64:ArrayOfEducationCredential" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEducationCredentialDetailByEducationID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_educationID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEducationCredentialDetailByEducationIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q65="http://schemas.datacontract.org/2004/07/HCRGUniversityService.DTO" minOccurs="0" name="GetEducationCredentialDetailByEducationIDResult" nillable="true" type="q65:ArrayOfEducationCredential" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GETCourseExpirySendEmailAlert">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="OrganizationID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GETCourseExpirySendEmailAlertResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q66="http://schemas.datacontract.org/2004/07/HCRGUniversityService.DTO" minOccurs="0" name="GETCourseExpirySendEmailAlertResult" nillable="true" type="q66:ArrayOfCourseExpirySendEmail" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateMyEducationCompletedToPassed">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="educationID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateMyEducationCompletedToPassedResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateEducationModulesTime">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="educationID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateEducationModulesTimeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEducationByClientID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ClientID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEducationByClientIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q67="http://schemas.datacontract.org/2004/07/HCRGUniversityService.DTO" minOccurs="0" name="GetEducationByClientIDResult" nillable="true" type="q67:ArrayOfEducation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>