HCRGUniversityApp/HCRGUniversityApp/Service References/NEPService.EducationService/EducationService4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/HCRGUniversityService.DTO.Paged" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/HCRGUniversityService.DTO.Paged" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://wcfservice.vsaindia.com:8081/NEP/EducationService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/HCRGUniversityService.DTO" />
  <xs:complexType name="PagedEducation">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/HCRGUniversityService.DTO" minOccurs="0" name="Educations" nillable="true" type="q1:ArrayOfEducationSearchResult" />
      <xs:element minOccurs="0" name="TotalCount" type="xs:int" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/HCRGUniversityService.DTO" minOccurs="0" name="_educations" nillable="true" type="q2:ArrayOfEducation" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/HCRGUniversityService.DTO" minOccurs="0" name="educationsDetail" nillable="true" type="q3:ArrayOfEducationDetail" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PagedEducation" nillable="true" type="tns:PagedEducation" />
  <xs:complexType name="PagedProfession">
    <xs:sequence>
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/HCRGUniversityService.DTO" minOccurs="0" name="Professions" nillable="true" type="q4:ArrayOfProfession" />
      <xs:element minOccurs="0" name="TotalCount" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PagedProfession" nillable="true" type="tns:PagedProfession" />
  <xs:complexType name="PagedEducationFormat">
    <xs:sequence>
      <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/HCRGUniversityService.DTO" minOccurs="0" name="EducationFormats" nillable="true" type="q5:ArrayOfEducationFormat" />
      <xs:element minOccurs="0" name="TotalCount" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PagedEducationFormat" nillable="true" type="tns:PagedEducationFormat" />
  <xs:complexType name="PagedEducationNewsSearch">
    <xs:sequence>
      <xs:element minOccurs="0" name="TotalCount" type="xs:int" />
      <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/HCRGUniversityService.DTO" minOccurs="0" name="educationNewsSearch" nillable="true" type="q6:ArrayOfEducationNewsSearch" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PagedEducationNewsSearch" nillable="true" type="tns:PagedEducationNewsSearch" />
  <xs:complexType name="PagedEducationProfession">
    <xs:sequence>
      <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/HCRGUniversityService.DTO" minOccurs="0" name="EducationProfessions" nillable="true" type="q7:ArrayOfEducationProfessionDetail" />
      <xs:element minOccurs="0" name="TotalCount" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PagedEducationProfession" nillable="true" type="tns:PagedEducationProfession" />
  <xs:complexType name="PagedAccreditor">
    <xs:sequence>
      <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/HCRGUniversityService.DTO" minOccurs="0" name="AccreditorRecords" nillable="true" type="q8:ArrayOfAccreditor" />
      <xs:element minOccurs="0" name="TotalCount" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PagedAccreditor" nillable="true" type="tns:PagedAccreditor" />
</xs:schema>