HCRGUniversityApp/HCRGUniversityApp/Service References/NEPService.MyEducationService/MyEducationService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://wcfservice.vsaindia.com:8081/NEP/MyEducationService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/HCRGUniversityService.DTO.Paged" />
  <xs:import schemaLocation="http://wcfservice.vsaindia.com:8081/NEP/MyEducationService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/HCRGUniversityService.DTO" />
  <xs:element name="GetMyEducationCompletedByUserIDPaged">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userID" type="xs:int" />
        <xs:element minOccurs="0" name="skip" type="xs:int" />
        <xs:element minOccurs="0" name="take" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMyEducationCompletedByUserIDPagedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/HCRGUniversityService.DTO.Paged" minOccurs="0" name="GetMyEducationCompletedByUserIDPagedResult" nillable="true" type="q1:PagedMyEducation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMyEducationInProgressByUserIDPaged">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userID" type="xs:int" />
        <xs:element minOccurs="0" name="skip" type="xs:int" />
        <xs:element minOccurs="0" name="take" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMyEducationInProgressByUserIDPagedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/HCRGUniversityService.DTO.Paged" minOccurs="0" name="GetMyEducationInProgressByUserIDPagedResult" nillable="true" type="q2:PagedMyEducation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMyEducationDetailByUserIDPaged">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userID" type="xs:int" />
        <xs:element minOccurs="0" name="skip" type="xs:int" />
        <xs:element minOccurs="0" name="take" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMyEducationDetailByUserIDPagedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/HCRGUniversityService.DTO.Paged" minOccurs="0" name="GetMyEducationDetailByUserIDPagedResult" nillable="true" type="q3:PagedMyEducationAccountHistory" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMyEducationModulesDetailsByMEID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="meID" type="xs:int" />
        <xs:element minOccurs="0" name="userID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMyEducationModulesDetailsByMEIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/HCRGUniversityService.DTO" minOccurs="0" name="GetMyEducationModulesDetailsByMEIDResult" nillable="true" type="q4:ArrayOfMyEducationModuleDetail" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMyEducationModulesDetailByMEMID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="memID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMyEducationModulesDetailByMEMIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/HCRGUniversityService.DTO" minOccurs="0" name="GetMyEducationModulesDetailByMEMIDResult" nillable="true" type="q5:MyEducationModuleDetail" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateMyEducationModule">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/HCRGUniversityService.DTO" minOccurs="0" name="myEducationModule" nillable="true" type="q6:MyEducationModule" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateMyEducationModuleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateMyEducationModuleResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateMyEducationModuleTimeLeft">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="memID" type="xs:int" />
        <xs:element minOccurs="0" name="TimeLeft" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateMyEducationModuleTimeLeftResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateMyEducationExpiredByUserID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateMyEducationExpiredByUserIDResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateMyEducationCourseCompletedByMEMID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="memID" type="xs:int" />
        <xs:element minOccurs="0" name="meID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateMyEducationCourseCompletedByMEMIDResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateMyEducationForCertificateByMEID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="meid" type="xs:int" />
        <xs:element minOccurs="0" name="isPrinted" type="xs:boolean" />
        <xs:element minOccurs="0" name="certificateName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateMyEducationForCertificateByMEIDResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCertificateDetailByMEID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="meID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCertificateDetailByMEIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/HCRGUniversityService.DTO" minOccurs="0" name="GetCertificateDetailByMEIDResult" nillable="true" type="q7:CertificateDetail" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMyEducationByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="meID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMyEducationByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetMyEducationByIDResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>