HCRGUniversityApp/HCRGUniversityApp/Service References/NEPService.MyEducationService/MyEducationService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/HCRGUniversityService.DTO.Paged" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/HCRGUniversityService.DTO.Paged" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://wcfservice.vsaindia.com:8081/NEP/MyEducationService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/HCRGUniversityService.DTO" />
  <xs:complexType name="PagedMyEducation">
    <xs:sequence>
      <xs:element minOccurs="0" name="TotalCount" type="xs:int" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/HCRGUniversityService.DTO" minOccurs="0" name="myeducation" nillable="true" type="q1:ArrayOfMyEducationDetail" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PagedMyEducation" nillable="true" type="tns:PagedMyEducation" />
  <xs:complexType name="PagedMyEducationAccountHistory">
    <xs:sequence>
      <xs:element minOccurs="0" name="TotalCount" type="xs:int" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/HCRGUniversityService.DTO" minOccurs="0" name="accountHistory" nillable="true" type="q2:ArrayOfMyEducationAccountHistory" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PagedMyEducationAccountHistory" nillable="true" type="tns:PagedMyEducationAccountHistory" />
</xs:schema>