HCRGUniversityApp/HCRGUniversityApp/Service References/NEPService.ShippingPaymentService/ShippingPaymentService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/HCRGUniversityService.DTO.Paged" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/HCRGUniversityService.DTO.Paged" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://wcfservice.vsaindia.com:8081/NEP/ShippingPaymentService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/HCRGUniversityService.DTO" />
  <xs:complexType name="PagedShippingPayment">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/HCRGUniversityService.DTO" minOccurs="0" name="ShippingPayments" nillable="true" type="q1:ArrayOfShippingPayment" />
      <xs:element minOccurs="0" name="TotalCount" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PagedShippingPayment" nillable="true" type="tns:PagedShippingPayment" />
  <xs:complexType name="PagedBillingAddress">
    <xs:sequence>
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/HCRGUniversityService.DTO" minOccurs="0" name="BillingAddresses" nillable="true" type="q2:ArrayOfBillingAddress" />
      <xs:element minOccurs="0" name="TotalCount" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PagedBillingAddress" nillable="true" type="tns:PagedBillingAddress" />
  <xs:complexType name="PagedShippingAddress">
    <xs:sequence>
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/HCRGUniversityService.DTO" minOccurs="0" name="ShippingAddresses" nillable="true" type="q3:ArrayOfShippingAddress" />
      <xs:element minOccurs="0" name="TotalCount" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PagedShippingAddress" nillable="true" type="tns:PagedShippingAddress" />
</xs:schema>