HCRGUniversityApp/HCRGUniversityApp/Service References/NEPService.ShippingPaymentService/ShippingPaymentService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://wcfservice.vsaindia.com:8081/NEP/ShippingPaymentService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/HCRGUniversityService.DTO" />
  <xs:import schemaLocation="http://wcfservice.vsaindia.com:8081/NEP/ShippingPaymentService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/HCRGUniversityService.DTO.Paged" />
  <xs:element name="addShippingPayment">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/HCRGUniversityService.DTO" minOccurs="0" name="_shippingAddress" nillable="true" type="q1:ShippingPayment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addShippingPaymentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addShippingPaymentResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateShippingPayment">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/HCRGUniversityService.DTO" minOccurs="0" name="_shippingAddress" nillable="true" type="q2:ShippingPayment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateShippingPaymentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="updateShippingPaymentResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteShippingPayment">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteShippingPaymentResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getShippingPaymentByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getShippingPaymentByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/HCRGUniversityService.DTO" minOccurs="0" name="getShippingPaymentByIDResult" nillable="true" type="q3:ShippingPayment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllShippingPaymentByUserID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserID" type="xs:int" />
        <xs:element minOccurs="0" name="skip" type="xs:int" />
        <xs:element minOccurs="0" name="take" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllShippingPaymentByUserIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/HCRGUniversityService.DTO.Paged" minOccurs="0" name="getAllShippingPaymentByUserIDResult" nillable="true" type="q4:PagedShippingPayment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getPendingShippingPaymentByUserID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getPendingShippingPaymentByUserIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/HCRGUniversityService.DTO" minOccurs="0" name="getPendingShippingPaymentByUserIDResult" nillable="true" type="q5:ShippingPayment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateEducationShoppingCartTempByShippingPaymentID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_educationShoppingTempID" type="xs:int" />
        <xs:element minOccurs="0" name="_shippingPaymentID" type="xs:int" />
        <xs:element minOccurs="0" name="PType" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateEducationShoppingCartTempByShippingPaymentIDResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="addEducationShoppingRecordByShippingPaymentID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_shippingPaymentID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addEducationShoppingRecordByShippingPaymentIDResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetShippingPaymentByUserID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="uid" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetShippingPaymentByUserIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/HCRGUniversityService.DTO" minOccurs="0" name="GetShippingPaymentByUserIDResult" nillable="true" type="q6:ShippingPayment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addBillingAddress">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/HCRGUniversityService.DTO" minOccurs="0" name="_billingAddress" nillable="true" type="q7:BillingAddress" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addBillingAddressResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addBillingAddressResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateBillingAddress">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/HCRGUniversityService.DTO" minOccurs="0" name="_billingAddress" nillable="true" type="q8:BillingAddress" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateBillingAddressResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="updateBillingAddressResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteBillingAddress">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteBillingAddressResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getBillingAddressByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getBillingAddressByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/HCRGUniversityService.DTO" minOccurs="0" name="getBillingAddressByIDResult" nillable="true" type="q9:BillingAddress" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllBillingAddressByUserID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserID" type="xs:int" />
        <xs:element minOccurs="0" name="skip" type="xs:int" />
        <xs:element minOccurs="0" name="take" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllBillingAddressByUserIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/HCRGUniversityService.DTO.Paged" minOccurs="0" name="getAllBillingAddressByUserIDResult" nillable="true" type="q10:PagedBillingAddress" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getBillingAddressByUserID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getBillingAddressByUserIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/HCRGUniversityService.DTO" minOccurs="0" name="getBillingAddressByUserIDResult" nillable="true" type="q11:BillingAddress" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addShippingAddress">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/HCRGUniversityService.DTO" minOccurs="0" name="_shippingAddress" nillable="true" type="q12:ShippingAddress" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addShippingAddressResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addShippingAddressResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateShippingAddress">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/HCRGUniversityService.DTO" minOccurs="0" name="_shippingAddress" nillable="true" type="q13:ShippingAddress" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateShippingAddressResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="updateShippingAddressResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteShippingAddress">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteShippingAddressResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getShippingAddressByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getShippingAddressByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/HCRGUniversityService.DTO" minOccurs="0" name="getShippingAddressByIDResult" nillable="true" type="q14:ShippingAddress" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllShippingAddressByUserID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserID" type="xs:int" />
        <xs:element minOccurs="0" name="skip" type="xs:int" />
        <xs:element minOccurs="0" name="take" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllShippingAddressByUserIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/HCRGUniversityService.DTO.Paged" minOccurs="0" name="getAllShippingAddressByUserIDResult" nillable="true" type="q15:PagedShippingAddress" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getShippingAddressByUserID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getShippingAddressByUserIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/HCRGUniversityService.DTO" minOccurs="0" name="getShippingAddressByUserIDResult" nillable="true" type="q16:ShippingAddress" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>