HCRGUniversityApp/HCRGUniversityApp/Service References/NEPService.AboutUsService/AboutUsService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://wcfservice.vsaindia.com:8081/NEP/AboutUsService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/HCRGUniversityService.DTO" />
  <xs:import schemaLocation="http://wcfservice.vsaindia.com:8081/NEP/AboutUsService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/HCRGUniversityService.DTO.Paged" />
  <xs:element name="AddAboutUs">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/HCRGUniversityService.DTO" minOccurs="0" name="aboutus" nillable="true" type="q1:AboutUs" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddAboutUsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddAboutUsResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAboutUs">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/HCRGUniversityService.DTO" minOccurs="0" name="aboutus" nillable="true" type="q2:AboutUs" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAboutUsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateAboutUsResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAboutUs">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="aboutUsID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAboutUsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllRecords">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="OrganizationID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllRecordsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/HCRGUniversityService.DTO" minOccurs="0" name="getAllRecordsResult" nillable="true" type="q3:ArrayOfAboutUs" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllPagedAboutus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="skip" type="xs:int" />
        <xs:element minOccurs="0" name="take" type="xs:int" />
        <xs:element minOccurs="0" name="OrganizationID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllPagedAboutusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/HCRGUniversityService.DTO.Paged" minOccurs="0" name="GetAllPagedAboutusResult" nillable="true" type="q4:PagedAboutUs" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>