HCRGUniversityApp/HCRGUniversityApp/Service References/NEPService.NewsService/NewsService4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/HCRGUniversityService.DTO.Paged" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/HCRGUniversityService.DTO.Paged" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://wcfservice.vsaindia.com:8081/NEP/NewsService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/HCRGUniversityService.DTO" />
  <xs:complexType name="PagedNews">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/HCRGUniversityService.DTO" minOccurs="0" name="NewsRecords" nillable="true" type="q1:ArrayOfNews" />
      <xs:element minOccurs="0" name="TotalCount" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PagedNews" nillable="true" type="tns:PagedNews" />
  <xs:complexType name="PagedNewsDetail">
    <xs:sequence>
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/HCRGUniversityService.DTO" minOccurs="0" name="NewsFullDetailRecords" nillable="true" type="q2:ArrayOfNewsFullDetail" />
      <xs:element minOccurs="0" name="TotalCount" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PagedNewsDetail" nillable="true" type="tns:PagedNewsDetail" />
  <xs:complexType name="PagedEvents">
    <xs:sequence>
      <xs:element minOccurs="0" name="TotalCount" type="xs:int" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/HCRGUniversityService.DTO" minOccurs="0" name="_events" nillable="true" type="q3:ArrayOfEvent" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PagedEvents" nillable="true" type="tns:PagedEvents" />
</xs:schema>