HCRGUniversityApp/HCRGUniversityApp/Service References/NEPService.UserService/UserService4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/HCRGUniversityService.DTO.Paged" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/HCRGUniversityService.DTO.Paged" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://wcfservice.vsaindia.com:8081/NEP/UserService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/HCRGUniversityService.DTO" />
  <xs:complexType name="PagedUser">
    <xs:sequence>
      <xs:element minOccurs="0" name="TotalCount" type="xs:int" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/HCRGUniversityService.DTO" minOccurs="0" name="Users" nillable="true" type="q1:ArrayOfUser" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PagedUser" nillable="true" type="tns:PagedUser" />
  <xs:complexType name="PagedUserCardDetail">
    <xs:sequence>
      <xs:element minOccurs="0" name="TotalCount" type="xs:int" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/HCRGUniversityService.DTO" minOccurs="0" name="UserCardDetails" nillable="true" type="q2:ArrayOfUserCardDetail" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PagedUserCardDetail" nillable="true" type="tns:PagedUserCardDetail" />
  <xs:complexType name="PagedEnterprisePackageRegister">
    <xs:sequence>
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/HCRGUniversityService.DTO" minOccurs="0" name="EnterprisePackageRegisterDetails" nillable="true" type="q3:ArrayOfEnterprisePackageRegister" />
      <xs:element minOccurs="0" name="TotalCount" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PagedEnterprisePackageRegister" nillable="true" type="tns:PagedEnterprisePackageRegister" />
  <xs:complexType name="PagedUserMenuGroup">
    <xs:sequence>
      <xs:element minOccurs="0" name="TotalCount" type="xs:int" />
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/HCRGUniversityService.DTO" minOccurs="0" name="UserMenuGroupDetails" nillable="true" type="q4:ArrayOfUserMenuGroup" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PagedUserMenuGroup" nillable="true" type="tns:PagedUserMenuGroup" />
</xs:schema>