HCRGUniversityApp/HCRGUniversityApp/Service References/NEPService.UserService/UserService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://wcfservice.vsaindia.com:8081/NEP/UserService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/HCRGUniversityService.DTO" />
  <xs:import schemaLocation="http://wcfservice.vsaindia.com:8081/NEP/UserService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/HCRGUniversityService.DTO.Paged" />
  <xs:element name="GetUserByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/HCRGUniversityService.DTO" minOccurs="0" name="GetUserByIDResult" nillable="true" type="q1:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/HCRGUniversityService.DTO" minOccurs="0" name="user" nillable="true" type="q2:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddUserResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/HCRGUniversityService.DTO" minOccurs="0" name="user" nillable="true" type="q3:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateUserResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateUserPassword">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="uid" type="xs:int" />
        <xs:element minOccurs="0" name="pwd" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateUserPasswordResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserByUserName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserByUserNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/HCRGUniversityService.DTO" minOccurs="0" name="GetUserByUserNameResult" nillable="true" type="q4:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUsersAll">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="OrganizationID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUsersAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/HCRGUniversityService.DTO" minOccurs="0" name="GetUsersAllResult" nillable="true" type="q5:ArrayOfUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUsersByName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="skip" type="xs:int" />
        <xs:element minOccurs="0" name="take" type="xs:int" />
        <xs:element minOccurs="0" name="clientID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUsersByNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/HCRGUniversityService.DTO.Paged" minOccurs="0" name="GetUsersByNameResult" nillable="true" type="q6:PagedUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserByEmailAndOrganizationId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userEmailID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="OrganizationID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserByEmailAndOrganizationIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/HCRGUniversityService.DTO" minOccurs="0" name="GetUserByEmailAndOrganizationIdResult" nillable="true" type="q7:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResetUserFailedAttemptCount">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/HCRGUniversityService.DTO" minOccurs="0" name="user" nillable="true" type="q8:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResetUserFailedAttemptCountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ResetUserFailedAttemptCountResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateUserFailedAttemptCount">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/HCRGUniversityService.DTO" minOccurs="0" name="user" nillable="true" type="q9:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateUserFailedAttemptCountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateUserFailedAttemptCountResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllPagedUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="skip" type="xs:int" />
        <xs:element minOccurs="0" name="take" type="xs:int" />
        <xs:element minOccurs="0" name="clientID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllPagedUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/HCRGUniversityService.DTO.Paged" minOccurs="0" name="GetAllPagedUserResult" nillable="true" type="q10:PagedUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddUserResetTempPassword">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="uid" type="xs:int" />
        <xs:element minOccurs="0" name="tempPwd" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddUserResetTempPasswordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddUserResetTempPasswordResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteUserResetTempPassword">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="uid" type="xs:int" />
        <xs:element minOccurs="0" name="tempPwd" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteUserResetTempPasswordResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="matchUserResetTempPassword">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="uid" type="xs:int" />
        <xs:element minOccurs="0" name="tempPwd" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="matchUserResetTempPasswordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="matchUserResetTempPasswordResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateUserVerification">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserID" type="xs:int" />
        <xs:element minOccurs="0" name="_isVerified" nillable="true" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateUserVerificationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="updateUserVerificationResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="clearedUserDetail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserID" type="xs:int" />
        <xs:element minOccurs="0" name="_isCleared" nillable="true" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="clearedUserDetailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="clearedUserDetailResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getUserVerifiedDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_skip" type="xs:int" />
        <xs:element minOccurs="0" name="_take" type="xs:int" />
        <xs:element minOccurs="0" name="OrganizationID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getUserVerifiedDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/HCRGUniversityService.DTO.Paged" minOccurs="0" name="getUserVerifiedDetailsResult" nillable="true" type="q11:PagedUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUsersByPlanID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="planID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUsersByPlanIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/HCRGUniversityService.DTO" minOccurs="0" name="GetUsersByPlanIDResult" nillable="true" type="q12:ArrayOfUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDefaulClientAdminByOrganizationID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_orgID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDefaulClientAdminByOrganizationIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDefaulClientAdminByOrganizationIDResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllUserMenuGroupAndPremissionAccordingToOrganizationID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="OrganizationID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllUserMenuGroupAndPremissionAccordingToOrganizationIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/HCRGUniversityService.DTO" minOccurs="0" name="GetAllUserMenuGroupAndPremissionAccordingToOrganizationIDResult" nillable="true" type="q13:ArrayOfUserMenuGroupAndPermission" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClientAndUserbySearchCriterias">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="OrganizationID" type="xs:int" />
        <xs:element minOccurs="0" name="ClientTypeID" type="xs:int" />
        <xs:element minOccurs="0" name="SelectionTypeName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="SelectionClientTypeID" type="xs:int" />
        <xs:element minOccurs="0" name="SearchText" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClientAndUserbySearchCriteriasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/HCRGUniversityService.DTO" minOccurs="0" name="GetClientAndUserbySearchCriteriasResult" nillable="true" type="q14:ArrayOfClientAndUserbySearchCriterias" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateUserSessionIDByUserID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" type="xs:int" />
        <xs:element minOccurs="0" name="userSessionID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateUserSessionIDByUserIDResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ResetUserSessionID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResetUserSessionIDResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="addUserCardDetail">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/HCRGUniversityService.DTO" minOccurs="0" name="_userCardDetail" nillable="true" type="q15:UserCardDetail" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addUserCardDetailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addUserCardDetailResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateUserCardDetail">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/HCRGUniversityService.DTO" minOccurs="0" name="_userCardDetail" nillable="true" type="q16:UserCardDetail" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateUserCardDetailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="updateUserCardDetailResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getUserCardDetailByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getUserCardDetailByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/HCRGUniversityService.DTO" minOccurs="0" name="getUserCardDetailByIDResult" nillable="true" type="q17:UserCardDetail" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getUserCardDetailByUserID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userID" type="xs:int" />
        <xs:element minOccurs="0" name="skip" type="xs:int" />
        <xs:element minOccurs="0" name="take" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getUserCardDetailByUserIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/HCRGUniversityService.DTO.Paged" minOccurs="0" name="getUserCardDetailByUserIDResult" nillable="true" type="q18:PagedUserCardDetail" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddUserSubscription">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/HCRGUniversityService.DTO" minOccurs="0" name="userSubscription" nillable="true" type="q19:UserSubscription" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddUserSubscriptionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddUserSubscriptionResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateUserSubscription">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/HCRGUniversityService.DTO" minOccurs="0" name="userSubscription" nillable="true" type="q20:UserSubscription" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateUserSubscriptionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateUserSubscriptionResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserSubscriptionDetails">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserSubscriptionDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/HCRGUniversityService.DTO" minOccurs="0" name="GetUserSubscriptionDetailsResult" nillable="true" type="q21:UserSubscription" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllUserSubscriptionByOrganizationID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="OrganizationID" type="xs:int" />
        <xs:element minOccurs="0" name="ClientID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllUserSubscriptionByOrganizationIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/HCRGUniversityService.DTO" minOccurs="0" name="GetAllUserSubscriptionByOrganizationIDResult" nillable="true" type="q22:ArrayOfUserSubscription" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserSubscriptionByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userSubscriptionID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserSubscriptionByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/HCRGUniversityService.DTO" minOccurs="0" name="GetUserSubscriptionByIDResult" nillable="true" type="q23:UserSubscription" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addEnterprisePackageRegister">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/HCRGUniversityService.DTO" minOccurs="0" name="_EnterprisePackageRegister" nillable="true" type="q24:EnterprisePackageRegister" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addEnterprisePackageRegisterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addEnterprisePackageRegisterResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateEnterprisePackageRegister">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/HCRGUniversityService.DTO" minOccurs="0" name="_EnterprisePackageRegister" nillable="true" type="q25:EnterprisePackageRegister" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateEnterprisePackageRegisterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="updateEnterprisePackageRegisterResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteEnterprisePackageRegister">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteEnterprisePackageRegisterResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getEnterprisePackageRegisterByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getEnterprisePackageRegisterByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/HCRGUniversityService.DTO" minOccurs="0" name="getEnterprisePackageRegisterByIDResult" nillable="true" type="q26:EnterprisePackageRegister" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllPagedEnterprisePackageRegister">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="skip" type="xs:int" />
        <xs:element minOccurs="0" name="take" type="xs:int" />
        <xs:element minOccurs="0" name="OrganizationID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllPagedEnterprisePackageRegisterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/HCRGUniversityService.DTO.Paged" minOccurs="0" name="GetAllPagedEnterprisePackageRegisterResult" nillable="true" type="q27:PagedEnterprisePackageRegister" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllEnterprisePackageRegistersByOrganizationID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="OrganizationID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllEnterprisePackageRegistersByOrganizationIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/HCRGUniversityService.DTO" minOccurs="0" name="GetAllEnterprisePackageRegistersByOrganizationIDResult" nillable="true" type="q28:ArrayOfEnterprisePackageRegister" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addUserAllAccessPass">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/HCRGUniversityService.DTO" minOccurs="0" name="userSubscription" nillable="true" type="q29:UserAllAccessPass" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addUserAllAccessPassResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addUserAllAccessPassResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateUserAllAccessPass">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/HCRGUniversityService.DTO" minOccurs="0" name="userSubscription" nillable="true" type="q30:UserAllAccessPass" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateUserAllAccessPassResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="updateUserAllAccessPassResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getUserAllAccessPassByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getUserAllAccessPassByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/HCRGUniversityService.DTO" minOccurs="0" name="getUserAllAccessPassByIDResult" nillable="true" type="q31:UserAllAccessPass" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getUserAllAccessPassByUserID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getUserAllAccessPassByUserIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/HCRGUniversityService.DTO" minOccurs="0" name="getUserAllAccessPassByUserIDResult" nillable="true" type="q32:UserAllAccessPass" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="checkUserAllAccessPassByUserID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userAllAccessPassID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="checkUserAllAccessPassByUserIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="checkUserAllAccessPassByUserIDResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserMenuGroup">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="OrganizationID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserMenuGroupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/HCRGUniversityService.DTO.Paged" minOccurs="0" name="GetUserMenuGroupResult" nillable="true" type="q33:PagedUserMenuGroup" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllUserMenuGroupByOrganizationID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="OrganizationID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllUserMenuGroupByOrganizationIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/HCRGUniversityService.DTO" minOccurs="0" name="GetAllUserMenuGroupByOrganizationIDResult" nillable="true" type="q34:ArrayOfUserMenuGroup" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddUserMenuGroup">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/HCRGUniversityService.DTO" minOccurs="0" name="_userMenuGroup" nillable="true" type="q35:UserMenuGroup" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddUserMenuGroupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddUserMenuGroupResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateUserMenuGroup">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/HCRGUniversityService.DTO" minOccurs="0" name="_userMenuGroup" nillable="true" type="q36:UserMenuGroup" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateUserMenuGroupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateUserMenuGroupResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserMenuGroupByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_userMenuGroupID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserMenuGroupByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/HCRGUniversityService.DTO" minOccurs="0" name="GetUserMenuGroupByIDResult" nillable="true" type="q37:UserMenuGroup" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddUserMenuPermission">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/HCRGUniversityService.DTO" minOccurs="0" name="_userMenuPermission" nillable="true" type="q38:UserMenuPermission" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddUserMenuPermissionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddUserMenuPermissionResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateUserMenuPermission">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/HCRGUniversityService.DTO" minOccurs="0" name="_userMenuPermission" nillable="true" type="q39:UserMenuPermission" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateUserMenuPermissionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateUserMenuPermissionResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserMenuPermissionByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_userMenuPermissionID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserMenuPermissionByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/HCRGUniversityService.DTO" minOccurs="0" name="GetUserMenuPermissionByIDResult" nillable="true" type="q40:UserMenuPermission" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserMenuPermissionByUserMenuGroupID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_userMenuGroupID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserMenuPermissionByUserMenuGroupIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/HCRGUniversityService.DTO" minOccurs="0" name="GetUserMenuPermissionByUserMenuGroupIDResult" nillable="true" type="q41:UserMenuPermission" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserMenuGroupByMenuIDs">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MenuIDs" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="OrganizationID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserMenuGroupByMenuIDsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/HCRGUniversityService.DTO" minOccurs="0" name="GetUserMenuGroupByMenuIDsResult" nillable="true" type="q42:UserMenuGroup" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserMenuGroupByGroupName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GroupName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="OrganizationID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserMenuGroupByGroupNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q43="http://schemas.datacontract.org/2004/07/HCRGUniversityService.DTO" minOccurs="0" name="GetUserMenuGroupByGroupNameResult" nillable="true" type="q43:UserMenuGroup" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>