HCRGUniversityMgtApp/HCRGUniversityMgtApp/Service References/NEPService.AboutUsService/AboutUsService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="AboutUsService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://wcfservice.vsaindia.com:8081/NEP/AboutUsService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://wcfservice.vsaindia.com:8081/NEP/AboutUsService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://wcfservice.vsaindia.com:8081/NEP/AboutUsService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/HCRGUniversityService.DTO" />
      <xsd:import schemaLocation="http://wcfservice.vsaindia.com:8081/NEP/AboutUsService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/HCRGUniversityService.DTO.Base" />
      <xsd:import schemaLocation="http://wcfservice.vsaindia.com:8081/NEP/AboutUsService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/HCRGUniversityService.DTO.Paged" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAboutUsService_AddAboutUs_InputMessage">
    <wsdl:part name="parameters" element="tns:AddAboutUs" />
  </wsdl:message>
  <wsdl:message name="IAboutUsService_AddAboutUs_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddAboutUsResponse" />
  </wsdl:message>
  <wsdl:message name="IAboutUsService_UpdateAboutUs_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateAboutUs" />
  </wsdl:message>
  <wsdl:message name="IAboutUsService_UpdateAboutUs_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateAboutUsResponse" />
  </wsdl:message>
  <wsdl:message name="IAboutUsService_DeleteAboutUs_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteAboutUs" />
  </wsdl:message>
  <wsdl:message name="IAboutUsService_DeleteAboutUs_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteAboutUsResponse" />
  </wsdl:message>
  <wsdl:message name="IAboutUsService_getAllRecords_InputMessage">
    <wsdl:part name="parameters" element="tns:getAllRecords" />
  </wsdl:message>
  <wsdl:message name="IAboutUsService_getAllRecords_OutputMessage">
    <wsdl:part name="parameters" element="tns:getAllRecordsResponse" />
  </wsdl:message>
  <wsdl:message name="IAboutUsService_GetAllPagedAboutus_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllPagedAboutus" />
  </wsdl:message>
  <wsdl:message name="IAboutUsService_GetAllPagedAboutus_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllPagedAboutusResponse" />
  </wsdl:message>
  <wsdl:message name="IAboutUsService_GetAllAboutUsByOrganizationID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllAboutUsByOrganizationID" />
  </wsdl:message>
  <wsdl:message name="IAboutUsService_GetAllAboutUsByOrganizationID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllAboutUsByOrganizationIDResponse" />
  </wsdl:message>
  <wsdl:portType name="IAboutUsService">
    <wsdl:operation name="AddAboutUs">
      <wsdl:input wsaw:Action="http://tempuri.org/IAboutUsService/AddAboutUs" message="tns:IAboutUsService_AddAboutUs_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAboutUsService/AddAboutUsResponse" message="tns:IAboutUsService_AddAboutUs_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateAboutUs">
      <wsdl:input wsaw:Action="http://tempuri.org/IAboutUsService/UpdateAboutUs" message="tns:IAboutUsService_UpdateAboutUs_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAboutUsService/UpdateAboutUsResponse" message="tns:IAboutUsService_UpdateAboutUs_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteAboutUs">
      <wsdl:input wsaw:Action="http://tempuri.org/IAboutUsService/DeleteAboutUs" message="tns:IAboutUsService_DeleteAboutUs_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAboutUsService/DeleteAboutUsResponse" message="tns:IAboutUsService_DeleteAboutUs_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getAllRecords">
      <wsdl:input wsaw:Action="http://tempuri.org/IAboutUsService/getAllRecords" message="tns:IAboutUsService_getAllRecords_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAboutUsService/getAllRecordsResponse" message="tns:IAboutUsService_getAllRecords_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllPagedAboutus">
      <wsdl:input wsaw:Action="http://tempuri.org/IAboutUsService/GetAllPagedAboutus" message="tns:IAboutUsService_GetAllPagedAboutus_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAboutUsService/GetAllPagedAboutusResponse" message="tns:IAboutUsService_GetAllPagedAboutus_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllAboutUsByOrganizationID">
      <wsdl:input wsaw:Action="http://tempuri.org/IAboutUsService/GetAllAboutUsByOrganizationID" message="tns:IAboutUsService_GetAllAboutUsByOrganizationID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAboutUsService/GetAllAboutUsByOrganizationIDResponse" message="tns:IAboutUsService_GetAllAboutUsByOrganizationID_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IAboutUsService" type="tns:IAboutUsService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddAboutUs">
      <soap:operation soapAction="http://tempuri.org/IAboutUsService/AddAboutUs" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateAboutUs">
      <soap:operation soapAction="http://tempuri.org/IAboutUsService/UpdateAboutUs" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteAboutUs">
      <soap:operation soapAction="http://tempuri.org/IAboutUsService/DeleteAboutUs" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllRecords">
      <soap:operation soapAction="http://tempuri.org/IAboutUsService/getAllRecords" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllPagedAboutus">
      <soap:operation soapAction="http://tempuri.org/IAboutUsService/GetAllPagedAboutus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllAboutUsByOrganizationID">
      <soap:operation soapAction="http://tempuri.org/IAboutUsService/GetAllAboutUsByOrganizationID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AboutUsService">
    <wsdl:port name="BasicHttpBinding_IAboutUsService" binding="tns:BasicHttpBinding_IAboutUsService">
      <soap:address location="http://wcfservice.vsaindia.com:8081/NEP/AboutUsService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>