HCRGUniversityApp/HCRGUniversityApp/Service References/NEPService.ExamInternalService/ExamInternalService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://wcfservice.vsaindia.com:8081/NEP/ExamInternalService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/HCRGUniversityService.DTO" />
  <xs:element name="AddPreTestResult">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/HCRGUniversityService.DTO" minOccurs="0" name="preTestResult" nillable="true" type="q1:PreTestResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddPreTestResultResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddPreTestResultResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePreTestResult">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/HCRGUniversityService.DTO" minOccurs="0" name="preTestResult" nillable="true" type="q2:PreTestResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePreTestResultResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdatePreTestResultResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePreTestResultIsPass">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="preTestResultID" type="xs:int" />
        <xs:element minOccurs="0" name="isPass" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePreTestResultIsPassResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPreTestAttemptByUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userID" type="xs:int" />
        <xs:element minOccurs="0" name="MEID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPreTestAttemptByUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetPreTestAttemptByUserResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddPreTestQuestionResults">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/HCRGUniversityService.DTO" minOccurs="0" name="preTestQuestionResult" nillable="true" type="q3:PreTestQuestionResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddPreTestQuestionResultsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddPreTestQuestionResultsResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePreTestQuestionResult">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/HCRGUniversityService.DTO" minOccurs="0" name="preTestQuestionResult" nillable="true" type="q4:PreTestQuestionResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePreTestQuestionResultResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdatePreTestQuestionResultResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddExamResult">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/HCRGUniversityService.DTO" minOccurs="0" name="examResult" nillable="true" type="q5:ExamResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddExamResultResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddExamResultResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateExamResult">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/HCRGUniversityService.DTO" minOccurs="0" name="examResult" nillable="true" type="q6:ExamResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateExamResultResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateExamResultResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateExamResultIsPass">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="examResultID" type="xs:int" />
        <xs:element minOccurs="0" name="MEID" type="xs:int" />
        <xs:element minOccurs="0" name="isPass" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateExamResultIsPassResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetExamAttempResulttByUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userID" type="xs:int" />
        <xs:element minOccurs="0" name="MEID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetExamAttempResulttByUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/HCRGUniversityService.DTO" minOccurs="0" name="GetExamAttempResulttByUserResult" nillable="true" type="q7:ArrayOfExamResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddExamQuestionResults">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/HCRGUniversityService.DTO" minOccurs="0" name="examQuestionResult" nillable="true" type="q8:ExamQuestionResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddExamQuestionResultsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddExamQuestionResultsResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateExamQuestionResult">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/HCRGUniversityService.DTO" minOccurs="0" name="examQuestionResult" nillable="true" type="q9:ExamQuestionResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateExamQuestionResultResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateExamQuestionResultResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddEvaluationResult">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/HCRGUniversityService.DTO" minOccurs="0" name="evaluationResult" nillable="true" type="q10:EvaluationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddEvaluationResultResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddEvaluationResultResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateEvaluationResult">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/HCRGUniversityService.DTO" minOccurs="0" name="examResult" nillable="true" type="q11:EvaluationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateEvaluationResultResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateEvaluationResultResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateEvaluationResultIsPass">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="evaluationResultID" type="xs:int" />
        <xs:element minOccurs="0" name="isPass" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateEvaluationResultIsPassResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEvaluationAttemptByUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEvaluationAttemptByUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetEvaluationAttemptByUserResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEvaluationAttemptByUserAndMEID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userID" type="xs:int" />
        <xs:element minOccurs="0" name="MEID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEvaluationAttemptByUserAndMEIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/HCRGUniversityService.DTO" minOccurs="0" name="GetEvaluationAttemptByUserAndMEIDResult" nillable="true" type="q12:EvaluationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddEvaluationQuestionResults">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/HCRGUniversityService.DTO" minOccurs="0" name="evaluationQuestionResult" nillable="true" type="q13:EvaluationQuestionResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddEvaluationQuestionResultsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddEvaluationQuestionResultsResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateEvaluationQuestionResult">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/HCRGUniversityService.DTO" minOccurs="0" name="evaluationQuestionResult" nillable="true" type="q14:EvaluationQuestionResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateEvaluationQuestionResultResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateEvaluationQuestionResultResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllEvaluationAnswer">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllEvaluationAnswerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/HCRGUniversityService.DTO" minOccurs="0" name="GetAllEvaluationAnswerResult" nillable="true" type="q15:ArrayOfEvaluationAnswer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>