HCRGUniversityMgtApp/HCRGUniversityMgtApp/Service References/NEPService.ProductService/ProductService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://wcfservice.vsaindia.com:8081/NEP/ProductService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/HCRGUniversityService.DTO" />
  <xs:import schemaLocation="http://wcfservice.vsaindia.com:8081/NEP/ProductService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/HCRGUniversityService.DTO.Paged" />
  <xs:element name="AddProduct">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/HCRGUniversityService.DTO" minOccurs="0" name="product" nillable="true" type="q1:Product" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddProductResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddProductResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateProduct">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/HCRGUniversityService.DTO" minOccurs="0" name="product" nillable="true" type="q2:Product" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateProductResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateProductResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteProduct">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="productID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteProductResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPagedProductByProductName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="productName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="skip" type="xs:int" />
        <xs:element minOccurs="0" name="take" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPagedProductByProductNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/HCRGUniversityService.DTO.Paged" minOccurs="0" name="GetPagedProductByProductNameResult" nillable="true" type="q3:PagedProduct" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="productID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/HCRGUniversityService.DTO" minOccurs="0" name="GetProductByIDResult" nillable="true" type="q4:Product" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPagedProduct">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="skip" type="xs:int" />
        <xs:element minOccurs="0" name="take" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPagedProductResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/HCRGUniversityService.DTO.Paged" minOccurs="0" name="GetPagedProductResult" nillable="true" type="q5:PagedProduct" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPagedProductByProductType">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="productType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userid" type="xs:int" />
        <xs:element minOccurs="0" name="skip" type="xs:int" />
        <xs:element minOccurs="0" name="take" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPagedProductByProductTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/HCRGUniversityService.DTO.Paged" minOccurs="0" name="GetPagedProductByProductTypeResult" nillable="true" type="q6:PagedProductPurchase" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductShoppingAllByProductID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_productID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductShoppingAllByProductIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/HCRGUniversityService.DTO" minOccurs="0" name="GetProductShoppingAllByProductIDResult" nillable="true" type="q7:ArrayOfProductShopping" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addProductQuantity">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/HCRGUniversityService.DTO" minOccurs="0" name="productQuantity" nillable="true" type="q8:ProductQuantity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addProductQuantityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addProductQuantityResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateProductQuantity">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/HCRGUniversityService.DTO" minOccurs="0" name="productQuantity" nillable="true" type="q9:ProductQuantity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateProductQuantityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="updateProductQuantityResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getProductQuantityByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="productQuantityID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getProductQuantityByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/HCRGUniversityService.DTO" minOccurs="0" name="getProductQuantityByIDResult" nillable="true" type="q10:ProductQuantity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getProductQuantityDetailByProductID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="productID" type="xs:int" />
        <xs:element minOccurs="0" name="skip" type="xs:int" />
        <xs:element minOccurs="0" name="take" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getProductQuantityDetailByProductIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/HCRGUniversityService.DTO.Paged" minOccurs="0" name="getProductQuantityDetailByProductIDResult" nillable="true" type="q11:PagedProductQuantity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductQuantityByProductID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="productID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductQuantityByProductIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/HCRGUniversityService.DTO.Paged" minOccurs="0" name="GetProductQuantityByProductIDResult" nillable="true" type="q12:PagedProductQuantity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addProductShippingDetail">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/HCRGUniversityService.DTO" minOccurs="0" name="productShippingDetail" nillable="true" type="q13:ProductShippingDetail" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addProductShippingDetailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addProductShippingDetailResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateProductShippingDetail">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/HCRGUniversityService.DTO" minOccurs="0" name="productShippingDetail" nillable="true" type="q14:ProductShippingDetail" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateProductShippingDetailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="updateProductShippingDetailResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getProductShippingDetailByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_productShippingDetailID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getProductShippingDetailByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/HCRGUniversityService.DTO" minOccurs="0" name="getProductShippingDetailByIDResult" nillable="true" type="q15:ProductShippingDetail" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getProductShippingDetail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_skip" type="xs:int" />
        <xs:element minOccurs="0" name="_take" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getProductShippingDetailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/HCRGUniversityService.DTO.Paged" minOccurs="0" name="getProductShippingDetailResult" nillable="true" type="q16:PagedProductShippingDetail" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getProductShippingAddressDetailByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_shippingPaymentID" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getProductShippingAddressDetailByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/HCRGUniversityService.DTO" minOccurs="0" name="getProductShippingAddressDetailByIDResult" nillable="true" type="q17:ProductShippingAddressDetailByID" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getProductPurchaseDetailByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_shippingPaymentID" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="_skip" type="xs:int" />
        <xs:element minOccurs="0" name="_take" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getProductPurchaseDetailByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/HCRGUniversityService.DTO.Paged" minOccurs="0" name="getProductPurchaseDetailByIDResult" nillable="true" type="q18:PagedProductPurchase" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getProductPurchaseDetail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_skip" type="xs:int" />
        <xs:element minOccurs="0" name="_take" type="xs:int" />
        <xs:element minOccurs="0" name="OrganizationID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getProductPurchaseDetailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/HCRGUniversityService.DTO.Paged" minOccurs="0" name="getProductPurchaseDetailResult" nillable="true" type="q19:PagedProductPurchasesRecord" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>