HCRGUniversityApp/HCRGUniversityApp/Service References/NEPService.DiscountCouponService/DiscountCouponService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/HCRGUniversityService.DTO.Paged" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/HCRGUniversityService.DTO.Paged" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://wcfservice.vsaindia.com:8081/NEP/DiscountCouponService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/HCRGUniversityService.DTO" />
  <xs:complexType name="PagedDiscountCoupon">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/HCRGUniversityService.DTO" minOccurs="0" name="DiscountCoupans" nillable="true" type="q1:ArrayOfDiscountCoupon" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/HCRGUniversityService.DTO" minOccurs="0" name="DiscountCoupansForCourse" nillable="true" type="q2:ArrayOfDiscountCouponForCourses" />
      <xs:element minOccurs="0" name="TotalCount" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PagedDiscountCoupon" nillable="true" type="tns:PagedDiscountCoupon" />
</xs:schema>