HCRGUniversityMgtApp/HCRGUniversityMgtApp/Service References/NEPService.CollegeService/CollegeService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/HCRGUniversityService.DTO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/HCRGUniversityService.DTO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://wcfservice.vsaindia.com:8081/NEP/CollegeService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/HCRGUniversityService.DTO.Base" />
  <xs:complexType name="College">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/HCRGUniversityService.DTO.Base" base="q1:BaseColumn">
        <xs:sequence>
          <xs:element minOccurs="0" name="Abbreviation" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CollegeID" type="xs:int" />
          <xs:element minOccurs="0" name="CollegeName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="IsActive" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="0" name="OrganizationName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StartNumber" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="College" nillable="true" type="tns:College" />
  <xs:complexType name="ArrayOfCollege">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="College" nillable="true" type="tns:College" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCollege" nillable="true" type="tns:ArrayOfCollege" />
  <xs:complexType name="Faculty">
    <xs:sequence>
      <xs:element minOccurs="0" name="AddressFloor" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AddressStreet" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AreaOfExpertise" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Company" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreatedDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FacultyID" type="xs:int" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OrganizationID" type="xs:int" />
      <xs:element minOccurs="0" name="OrganizationName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Phone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProfessionalTitle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Resume" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="State" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Topics" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Zip" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Faculty" nillable="true" type="tns:Faculty" />
  <xs:complexType name="ArrayOfFaculty">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Faculty" nillable="true" type="tns:Faculty" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFaculty" nillable="true" type="tns:ArrayOfFaculty" />
</xs:schema>