HCRGUniversityMgtApp/HCRGUniversityMgtApp/Service References/NEPService.LogSessionService/LogSessionService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/HCRGUniversityService.DTO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/HCRGUniversityService.DTO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="LogSession">
    <xs:sequence>
      <xs:element minOccurs="0" name="Browser" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LogCreatedDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="LogSessionID" type="xs:int" />
      <xs:element minOccurs="0" name="MEID" type="xs:int" />
      <xs:element minOccurs="0" name="PageUrl" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SessionId" type="xs:int" />
      <xs:element minOccurs="0" name="UserId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LogSession" nillable="true" type="tns:LogSession" />
  <xs:complexType name="ArrayOfLogSessionDetail">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LogSessionDetail" nillable="true" type="tns:LogSessionDetail" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLogSessionDetail" nillable="true" type="tns:ArrayOfLogSessionDetail" />
  <xs:complexType name="LogSessionDetail">
    <xs:sequence>
      <xs:element minOccurs="0" name="Browser" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CourseName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmailID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LogCreatedDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="LogSessionID" type="xs:int" />
      <xs:element minOccurs="0" name="MEID" type="xs:int" />
      <xs:element minOccurs="0" name="PageUrl" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SessionId" type="xs:int" />
      <xs:element minOccurs="0" name="UserId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LogSessionDetail" nillable="true" type="tns:LogSessionDetail" />
</xs:schema>