HCRGUniversityMgtApp/HCRGUniversityMgtApp/Service References/NEPService.LogSessionService/LogSessionService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://wcfservice.vsaindia.com:8081/NEP/LogSessionService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/HCRGUniversityService.DTO" />
  <xs:import schemaLocation="http://wcfservice.vsaindia.com:8081/NEP/LogSessionService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/HCRGUniversityService.DTO.Paged" />
  <xs:element name="AddSession">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/HCRGUniversityService.DTO" minOccurs="0" name="logSession" nillable="true" type="q1:LogSession" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSessionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddSessionResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LogModuleOrExam">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="browser" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="newurl" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="MEID" type="xs:int" />
        <xs:element minOccurs="0" name="UserId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LogModuleOrExamResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckLogModuleOrExam">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MEID" type="xs:int" />
        <xs:element minOccurs="0" name="UserId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckLogModuleOrExamResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CheckLogModuleOrExamResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteSession">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="browser" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="MEID" type="xs:int" />
        <xs:element minOccurs="0" name="UserID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteSessionResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getLogSessionByUserIDAndMEID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserId" type="xs:int" />
        <xs:element minOccurs="0" name="MEID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getLogSessionByUserIDAndMEIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/HCRGUniversityService.DTO" minOccurs="0" name="getLogSessionByUserIDAndMEIDResult" nillable="true" type="q2:LogSession" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteSessionAfterSchedule">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserID" type="xs:int" />
        <xs:element minOccurs="0" name="LogScheduleTime" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteSessionAfterScheduleResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllLogSession">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="skip" type="xs:int" />
        <xs:element minOccurs="0" name="take" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllLogSessionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/HCRGUniversityService.DTO.Paged" minOccurs="0" name="getAllLogSessionResult" nillable="true" type="q3:PagedLogSessionDetail" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLogSessionByUserName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="skip" type="xs:int" />
        <xs:element minOccurs="0" name="take" type="xs:int" />
        <xs:element minOccurs="0" name="organizationId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLogSessionByUserNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/HCRGUniversityService.DTO.Paged" minOccurs="0" name="GetLogSessionByUserNameResult" nillable="true" type="q4:PagedLogSessionDetail" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteSessionByAdmin">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LogSessionID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteSessionByAdminResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>